html {
    font-family: "DM Sans", sans-serif;
}

body {
    margin: 0; 
    padding: 0;
}

header {
    background-color: #161616;
    padding: 10px 20px;
    text-align: left;
 }

 .logo img {
    max-width: 150px;
 }

form{
    display: flex;
    padding: 0 0;
}

.izquierdo, .derecho{
    flex: 1;
    padding: 60px;
}

.izquierdo{
    background-image: url('imagen/fondo-form.png');  
    background-size: cover;
    background-position: left;
    color: white;
}

.derecho{
    background-color: white;
    background-position: right;
    /* text-align: right; */
}
.form-campo {
    margin-bottom: 15px;
}

.form-campo label {
    display: block;
    margin-bottom: 5px;
}

.form-campo input, .form-campo select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.enter.disabled{
    display: inline-block;
    padding: 10px 20px;
    background-color: grey;
    font-weight: bold;
    color: white;
    text-decoration: none; 
    border: none; 
    border-radius: 20px; 
    font-size: 16px;
    cursor: not-allowed;
}

.enter.active{
    display: inline-block;
    padding: 10px 20px;
    background-color: red; 
    font-weight: bold;
    color: white; 
    text-decoration: none; 
    border: none; 
    border-radius: 20px; 
    font-size: 16px; 
    cursor: pointer;
}

.enter.active:hover {
    background-color: #cc0000;
}

.feedback{
 text-align: center;
 color: #161616;
}

.fondo-fb{
 background-image: url('imagen/fondo-form.png');
 background-size: cover;
 background-position: center;
 height: 100vh;
}

.contenido {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
    border-radius: 25px;
    width: 50%; 
}

.dardo{
    width: 250px;
    display: flex;
    margin-top: 10%;
    margin-left: 35%;
}

h1 {
    font-weight: bold;
}

.oculto{
    display: none;
}

.destacado{
color: red;
}

.volver{
    display: inline-block;
    padding: 10px 20px;
    background-color: white; 
    font-weight: bold;
    color: red; 
    text-decoration:none;
    border: 2px solid red;
    border-radius: 20px; 
    font-size: 16px; 
    cursor: pointer;
}

footer {
    background-color: #161616;
    color: white; 
    text-align: center; 
    padding: 30px 0;
    justify-content: center; 
    padding-bottom: 5px;
   }
   
.icon-media{
    width: 30px;
    padding: 0 10px;
   }


.negrita {
    font-weight: bold;
}
