html {
    font-family: "DM Sans", sans-serif;
}

body {
 text-align: left;
}

form {
    text-align: center;
    padding: 10%;
}

.enter{
    display: inline-block;
    padding: 10px 20px;
    background-color: red; 
    font-weight: bold;
    color: white; 
    text-decoration: none; 
    border: none; 
    border-radius: 20px; 
    font-size: 16px; 
    cursor: pointer;
}

.enter:hover {
    background-color: #cc0000;
}

.feedback{
 text-align: center;
 color: #161616;
}

.dardo{
    width: 250px;
    display: flex;
    margin-top: 10%;
    margin-left: 41%;
}

h1 {
    font-weight: bold;
}

.oculto{
    display: none;
}

.destacado{
color: red;
}
