html {
    font-family: "DM Sans", sans-serif;
}

body {
    margin: 0; padding: 0;
}

h1{
    font-size: 55px;
    margin-bottom: 15px;
}

h2{  
font-size: 40;  
font-weight: bold;
}

.destacado {
    color: red;
}

.negrita {
font-weight: bold;
}

header{
    background-color: #161616;
    padding: 0 60px; /*Espadio arriba, abajo y a los costados (interno)*/
    margin: 0;
}

.logo {
width: 12%; /*Espacio que ocupa el logo*/
height: auto; /*No se deforma*/
}

.navbar {
    display: flex; /*Uno al lado del otro*/
    justify-content: space-between; /*Espacio entre logo y opciones*/
    align-items: center; /*Centra todo en medio de la barra*/
}

.nav-barra {
    list-style: none; /*se saca el formato lista*/
    display: flex; /*Pone uno al lado del otro (dentro de la lista)*/
}

.nav-barra li {
    margin-right: 25px; /* Espacio entre opcion y opcion*/
}

.nav-barra li a {
    color: white;
    text-decoration: none; /*Sacal la decoracion del texto*/
}

.nav-barra li a:hover {
    color: rgb(255, 0, 0); /*Cambia de color si pasas por encima*/
}

.portada {
  background-image: url('imagen/Joystick.png');  
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  padding: 20px 0;

}

.encabezado{
    color: white; /* texto */
    text-align: center; /* Centra el texto */
    padding: 0 230px;
    justify-content: center; /* Centra verticalmente el contenido */

}

.subtitulo {
 color: #C9CACC;
 font-size: 20px;
}

.Beneficios{
    background-color: white;
    color: #161616;   
    display: flex; /*Pone uno al lado del otro (dentro de la lista)*/    
    padding: 60px 133px;
}

.info{
    margin: 0 20px;
}

.info ul{
    font-size: 20;
}

.info li{
    list-style-image: url("imagen/check.jpg");
    margin-top: 20px;
}

.info-complementaria{
padding: 35px 20px;
}

.Titulo-Bullets{
 text-align: center;
 font-size: 25px;
 margin-bottom: 20px;
 color: white;
} 

.Tarjeta {
    text-align: center;
    padding: 40px;
    margin: 10px ;
}

.Tarjeta img {
  display: block;
  margin: 0 auto;
}

.Contenedor-Tarjetas {
    background-color: #161616;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
   
.Comunidad{
 padding: 40px;
 background-color: white;
 color: #161616;
}

.collage { /* collage */
 width: 600px ;
}

 .Formulario{
    background-image: url('../Ej1/imagen/Joystick.png');  
    background-size: cover;
    background-position: center;
    color: white;
    padding: 60px;
} 

footer {
 background-color: #161616;
 color: white; 
 padding: 30px;
 text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed", sans-serif;
}

/* @media screen and (max-width: 600px) { ESTO ES PARA HACER RESPONSIVE UN SITIO, EJERCICIO 2 EXPLICA
    html, body{
        background-color: #161616;
    }
} */ 